/* *body{
    margin-top: 12%;
} */



.banner{
    /* border: solid red; */
    height:890px;
    margin-top: -110px;
    margin-bottom: 15%;
    /* width: 1000px; */
}





.container_name{
    /* margin-bottom: 2rem; */
    /* border: solid green; */
    margin-bottom: 185px;
}





.title{
    /* border: solid green; */
    margin-top: -730px;
    margin-left: 95px;
    color: white;
    font-weight: bolder;
  
}

.description{
    margin-left: 95px;
    width: 60%;
    color: white; 
    margin-top: 14px;
    margin-bottom: 24px;
    /* border: solid yellow; */
   
}

.button{
margin-top: 14px;
margin-left: 95px;
display: flex;
border: none;

}



.left-button{
  margin-right: 2%;
  border: solid green;
  height: 70px;
  width: 150px;
  font-weight: bold;
  font-size: 22px;
  background-color: white;
  border: none
}

.right-button{
    border: solid green;
    height: 70px;
    width: 150px;
    font-weight: bold;
    font-size: 22px;
    background-color: rgb(122, 122, 116);
    color: white;
    border: none
}

.left-button:hover{
    /* font-size: 32px; */
    background-color: rgb(122, 122, 116);
}

.right-button:hover{
    font-size: 23px;
}

